*{
    margin: 0;
}
#story{
    background-image: url(https://img.freepik.com/free-photo/delicious-ice-cream-cones_23-2149460312.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    
}
#colorBackground{
    background-color: rgb(251, 211, 251);
    width: 320px;
    height: auto; /* خليناه أوتو حتى يتوسع مع النص */
    border-radius: 30px;
    padding: 20px; /* مسافة داخلية حتى ما يلزق الكلام بالحواف */
    margin-left: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* ظل خفيف للكارد */
    position: absolute;
    top: 120px;
}
#colorBackground>h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
#colorBackground>p{
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 10px;
}
#Values{
    text-align: center;
    padding: 80px 10%;
    background-color: #faf3f8; 
    margin-top: 10px;
}
#Values>h1{
    font-size: 40px;
    color: #c94f7c;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
#reviews{
    display: flex;
    position: relative;
    
}
.review{
    margin-left: 350px;
    /* ابعد محتوى الديف */
    margin-top: 30px;
}
.review1{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
}
.review1>img{
    border-radius: 100%;
}
.stars{
    color: gold;
}
#RightReviews{
    display: flex;
    justify-content: center;
    align-items: center;
}
#RightReviews>h1{
    position: absolute;
    left: 20px;
}
#RightReviews>h1{
    background-color: plum;
    color: aliceblue;
}
#whyChooseUs {
    text-align: center;
    padding: 80px 10%;
    background-color: #faf3f8; /* soft very light pink */
    margin-top: 20px;
}

#whyChooseUs>h1 {
    font-size: 40px;
    color: #c94f7c;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.chooseCards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.chooseCard {
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 20px;
    transition: transform 0.3s ease;
}

.chooseCard:hover {
    transform: scale(1.05); /* Slight zoom-in */
    transition: all 0.3s ease-in-out; /* Smooth animation */
}

.chooseCard>i {
    font-size: 40px;
    color: #ff69b4;
    margin-bottom: 20px;
}
.chooseCard>h3 {
    font-size: 22px;
    color: #6b2d5c;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.chooseCard>p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
