#delivery {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    gap: 50px; 
    padding: 20px;
  }
  
#rightDev>img {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  
#leftDev>form {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}
#leftDev>form>input {
    padding: 12px 15px; 
    border-radius: 10px; 
    border: 2px solid whitesmoke; 
    font-size: 16px;
}   
button{
    padding: 5px;
    margin-top: 15px;
    background-color: blanchedalmond;
}
