#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

#navBar > img {
    width: 75px;
}

.desktopMenu {
    display: flex;
    list-style: none;
}

.desktopMenu > li {
    margin: 20px;
}

.desktopMenu > li:hover {
    background-color: pink;
    border-radius: 2px;
}

.desktopMenu > li > a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

#icons > i {
    margin: 5px;
}

#mobileMenu {
    display: none;
}

@media screen and (max-width: 468px) {
    .desktopMenu {
        display: none;
    }

    .dropdown-item {
        display: block;
    }

}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* to center the div */
    flex-wrap: wrap; 
    /* لما الشاشة تصغر والمساحه ما تكفى بتنتقل العناصر زي الصوره لسطر جديد وهيك بضل شكل البيج مرتب */
    /* using felx warp for makeing the main responsive */
 }
#rightMain>h1>span{
    color: plum
}
#rightMain>button{
    padding: 10px 20px;
    background-color: plum;
    border: none;
    font-size: 20px;
    color: white;
}
#rightMain>p{
    color: plum;
    font-size: 20px;
}
.logo{
    border-radius: 100%;
    width: 300px;
}
#rightMain{
    width: 600px;  
    /* حتى ازبط الكلام وما يكون ماخد مساحه كبيره */
    padding: 20px;
    /*  حتى الكلام ما يلمس الحواف لما الشاشة تصغر وتصير شاشة تلفون*/
}
.yummyimage{
    position: relative; 
}
.yummytext{
    position: absolute;
    top: 10px;  
    right: 200px;  
    background-color: white;
    border: 2px solid plum;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}
#ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px; 
    /* حتى ما المس حواف البودي لما الشاشة تصغر */
}

.items {
    text-align: center;
}

.items > h1 {
    font-size: 36px;
    color: black;
    background-color: plum;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.types {
    display: flex;
    flex-wrap: wrap; 
    /* لما تصغر الشاشة العناصر زي النكهات ينزلو اسطر جديده ومتعدده وهيك بضل شكل البيج مرتب*/
    gap: 20px; 
}

.type {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 180px;
}

.type > img {
    border-radius: 100%;
    width: 100px;
}

.type > p {
    margin-top: 15px;
}

.type:hover {
    background-color: plum;
}


@media (max-width: 480px) {
    .items > h1 {
        font-size: 24px;
        padding: 10px 20px;
    }
    
    .type {
        width: calc(50% - 15px);
        padding: 15px 10px;
    }
}
#footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.LeftFooter>ul{
    list-style: none;
}
.LeftFooter>ul>li{
    font-size: 18px;
    color: grey;
}
.LeftFooter{
    margin-left: 200px;
}
.social{
    display: flex;
    flex-direction: column;
    position: relative;
}
.socialIcon{
    display: flex;    
    flex-wrap: wrap;
}
.greyscreen{
    background-color: lightgray;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.copyright{
    position: absolute;
    left: 45%;
    top: 20px;
    color: grey;
}
@media (max-width: 480px) {
    .socialIcon {
        gap: 5px;
    }
    
    .greyscreen {
        width: 35px;
        height: 35px;
    }
    .LeftFooter > ul > li {
        font-size: 12px;
       
    }
    .copyright{
        margin-top: 50px;
    }
}


