#navBar {
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
    padding: 30px; 
    /* increase the size of navBar div */
}

#navBar>ul {
    list-style: none;
    display: flex; 
}

#navBar>ul>li {
    margin: 20px;  
    /* space between list items */
    font-size: 20px;
}
          #navBar>ul>li:hover {
    background-color:pink;
}

#navBar>ul>li>a {
    text-decoration: none;
    color: grey;
}

#icons > i {
    margin: 10px;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* to center the div */
}
#rightMain>h1>span{
    color: plum
}
#rightMain>button{
    padding: 10px 20px;
    background-color: plum;
    border: none;
    font-size: 20px;
    color: white;
}
#rightMain>p{
    color: plum;
    font-size: 20px;
}
.logo{
    border-radius: 100%;
    width: 300px;
}
#rightMain{
    width: 600px; 
    /* حتى ازبط الكلام وما يكون ماخد مساحه كبيره */
}
.yummyimage{
    position: relative; 
}
.yummytext{
    position: absolute;
    top: 10px;  
    right: 200px;  
    background-color: white;
    border: 2px solid plum;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}
#ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
    /*انزل الديف لتحت  */
}
.items{
    text-align: center; 
    /* اوسط الصور والكلام داخل الديف */
}
.items>h1{
    font-size: 36px;
    color:black;
    background-color: plum; 
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.types{
    display: flex;
}
.type{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;  
    width: 180px; 
    margin: 10px;
}
.type>img{
    border-radius: 100%;
}
.type>p{
    margin-top: 15px;
}
.type:hover{
    background-color: plum;
}

#footer{
    display: flex;
    margin-top: 20px;
}
.LeftFooter>ul{
    list-style: none;
}
.LeftFooter>ul>li{
    font-size: 18px;
    color: grey;
}
.LeftFooter{
    margin-left: 200px;
}
.social{
    display: flex;
    position: relative;
}
.socialIcon{
    display: flex;
    
}
.greyscreen{
    background-color: lightgray;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.copyright{
    position: absolute;
    left: 45%;
    color: grey;
}
#mobileNav {
    display: none;
}
@media screen and (max-width: 500px) {
    .desktopMenu {
        display: none;
    }

    #mobileNav {
        display: block;
    }
}