#loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px; 
    gap: 80px;
    background-color: white;
    padding: 40px;   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#loginForm > img {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    padding: 20px;  
    border-radius: 50%; 
}

#loginData {
    display: grid; 
    gap: 20px;  
}
#loginData>label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#loginData>input {
    padding: 15px;  
    border-radius: 10px; 
    border: 2px solid whitesmoke;  
    font-size: 16px;
}
